<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yalin.muzei">

    <permission
        android:name="com.yalin.muzei.WRITE_PROVIDER"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.yalin.muzei.WRITE_PROVIDER" />

    <application>
        <provider
            android:name=".provider.MuzeiProvider"
            android:authorities="com.yalin.muzei"
            android:exported="true"
            android:writePermission="com.yalin.muzei.WRITE_PROVIDER" />

    </application>

</manifest>
